build/
clion/build/
clion/.idea/
*.o
*.d
*.gcno
*.gcda
initrd.cpio
iso/boot/kernel.elf
nexios-rtos.iso
debug/
release/
jarvis/
userspace/*.elf
debug/
release/
pico.save
.idea/
__pycache__/
venv/
*.pyc
.DS_Store
initrd/tests/test-config.txt
src/kernel/test/test_registry.gen.hpp
mk/cpp-rules.*.gen.mk
build/.arch-stamp
build/.test-file-list-*
bench_mandelbrot
bench_mandelbrot.cpp
tools/gdb/*.gdb
.opencode/
